{% extends 'base.html.twig' %}

{# 
Dans Config>packages>Twig.yaml ajouter
form_themes: ['bootstrap_4_layout.html.twig']
#}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>   
        {{ form_start(form) }}
           {{form_widget(form)}}
           <input type="hidden" id="widgets-counter" value="0"></input>
        <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
<script src="/js/ad.js"></script>
{% endblock %}